*{box-sizing: border-box;}

h1{color:blue; font-size: 400%; text-align: center;}

body{background: purple;}

nav{float: left; background: purple; height: 375px; width: 50%;  font-size: 200%;
text-align: center; font-family: cursive; color: yellow;}

marquee{text-align: center;}

footer{text-align: center; font-size: 250%;}

table{font-family: cursive;  width: 100%;}

tr, th{ text-align: center;  background-color: #b19cd9;}

.image1{display: block; margin-left: auto; margin-right: auto;}

.image14{width: 30%; height: 5%;  display: block; margin-left: auto;
margin-right: auto; background: purple;}
