<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ITGS IA</title>
    <link href="/static/contact.css" rel="stylesheet">
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<h1><u>Contact Information:</u></h1>

<br>

<table>
  <tr>
    <th><u>Address</u></th>
    <td>R-202, Ajmera Infinity, Neeladri Road, Electronics City Phase 1, Bangalore 560100</td>
  </tr>
  <tr>
    <th><u>Phone Number</u></th>
    <td>+91 99946 85446</td>
  </tr>
  <tr>
    <th><u>Email</u></th>
    <td>subi.2187@gmail.com</td>
  </tr>
</table>


</body>
</html>
