<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ITGS IA</title>
    <link href="/static/home_page1.css" rel="stylesheet">
</head>
<body>
<header>
	<img src="/static/logo5.png" alt="Logo">
</header>
<section>
  <nav>
        <h4><u><i>Your Events</i></u></h4>

        <ul class="navbar-nav">
          <li class="nav-item"><a href="{{ url_for('your_events') }}" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="{{ url_for('add1') }}" class="nav-link">Add New Event</a></li>
          <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact Information</a></li>
        </ul>

      {% block main %}
  {% for event in events1 %}
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  {% endfor %}
{% endblock %}
  </nav>

  <article>
	<marquee direction="left" scrollamount="20">
	<img src="/static/Christmas-Present-PNG-Photo.png" class="image11" alt="Gifts">
	<img src="/static/cake_PNG13136.png" class="image12" alt="Balloons">
	<img src="/static/ice_cream_PNG21014.png" class="image13" alt="Party">
    <img src="/static/confetti.png" class="image13" alt="Confetti">
    </marquee>
  </article>
</section>
<footer>
<table>
  <tr>
    <th><a href="http://127.0.0.1:5000/">Home</a></th>
    <th><a href="{{ url_for('about') }}" class="nav-link">About</a></th>
	<th><a href="{{ url_for('services') }}" class="nav-link">Services</a></th>
    <th><a href="{{ url_for('testimonials') }}" class="nav-link">Testimonials</a></th>
    <th><a href="{{ url_for('landing') }}">Sign Out</a></th>
  </tr>
</table>
</footer>
</body>
</html>


