<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>ITGS IA</title>
	<link rel="stylesheet" href="/static/landing.css">
</head>
<body>
	<img src="/static/logo5.png" class="image1" alt="Logo">
</body>
<section>
  <nav>
    <marquee direction="up" height="350px">
		<div>Dream of a party and have it come true?</div><br>
		<div>Want to have your cake and eat it too?</div><br>
		<div>Leave it to us - The Dream Party Plannerz,</div><br>
		<div>To make your very special day, real buzz!</div><br>
	</marquee>
  </nav>

  <article>
	<img src="/static/58738b3af3a71010b5e8ef51.png" class="image14" alt="Party">
  </article>
</section>
<br>
<br>
<footer>
<table>
  <tr>
  	<th><a href="http://127.0.0.1:5000/">Guest</a></th>
    <th><a href="{{ url_for('login') }}">Login</a></th>
	<th><a href="{{ url_for('sign_up') }}">Sign up</a></th>
  </tr>
</table>
</footer>