<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>ITGS IA</title>
	<link rel="stylesheet" href="personnel_details.css">
</head>
<body>
	<h1>Personnel Details for the Event</h1>
<br>
<br>
<br>
<form action="file:///Users/triplicane/Desktop/ITGS/HTML/together_1.html">
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="fname">Date of Birth:</label><br>
  <input type="date" id="myDate" value=""><br><br>
  <label for="fname">Gender:</label><br><br>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label><br><br>
  <label for="fname">Theme:</label><br><br>
  <input type="radio" id="bdayparty" name="theme" value="bdayparty">
  <label for="bdayparty">Birthday Party</label><br>
  <input type="radio" id="wedding" name="theme" value="wedding">
  <label for="wedding">Wedding</label><br>
  <input type="radio" id="holiday" name="theme" value="holiday">
  <label for="holiday">Holiday Occation</label><br>
  <input type="radio" id="other" name="theme" value="other">
  <label for="other">Other</label>
  <input type="text" id="lname" name="lname" value=""><br><br><br>  <label for="lname">Phone Number:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="lname">Any Extra Information?:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br><br>
  <input type="submit" value="Save">
</form> 
