<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ITGS IA</title>
    <link href="/static/services.css" rel="stylesheet">
</head>
<body>
	<h1><u>Our Services:</u></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
  <tr>
    <th><u>Themes</u></th>
    <th><u>Foods</u></th>
  </tr>
  <tr>
    <td>Birthday Parties</td>
    <td>Cake</td>
  </tr>
  <tr>
    <td>Anniversaries</td>
    <td>Ice Cream</td>
  </tr>
  <tr>
    <td>Reunions</td>
    <td>Pizza</td>
  </tr>
  <tr>
    <td>Festivals</td>
    <td>Pasta</td>
  </tr>
  <tr>
    <td>Graduations</td>
    <td>Noodles and Soup</td>
  </tr>
  <tr>
    <td>Parties of your choice</td>
    <td>Foods of your choice</td>
  </tr>
</table>

</body>
</html>
