<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>ITGS IA</title>
	<link rel="stylesheet" href="test.css">	
</head>
<body>

<h2>Enter Login Details</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="file:///Users/triplicane/Desktop/ITGS/HTML/mock_home_page.html">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <input type="submit" value="Enter">
</form>

</body>
</html>